<h1>New book</h1>


<%= form_with model: @book,do |f| %>

  <strong>Title:</strong>
<%= f.text_field :title %>

  <strong>Body:</strong>
<%= f.text_area :body %>

<div class="actions">
<%= f.submit 'Create Book' %>
</div>
<% end %>