// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}