// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/





.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}


a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
